version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - '4000:4000'
    volumes:
      - ./backend:/app
    command: sh -c "npm install && npx prisma generate && npx prisma migrate deploy || true && node server.js"
  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev"
